@{
  Layout = "_Layout";
}
 <div class="container">
<h1>Edit Client</h1>
<hr>
<h2>Edit: @Model.GetName()</h2>
<form action="/clients/@Model.GetId()" method="post">
  <label name="newClient">New Client's Name</label>
  <input id="newClient" type="text" name="newClient" value="@Model.GetName()">
  <Button class="btn btn-info" type="submit">Update</Button>
</form>
</div>