@{
  Layout = "_Layout";
}
 <div class="container">
<h1>Edit Title</h1>
<hr>
<h2>Edit: @Model.GetClientName()</h2>
<form action="/client/@Model.GetId()" method="post">
  <label name="newClient">New Author's Name</label>
  <input id="newClient" type="text" name="newClient" value="@Model.GetClientName()">
  <Button class="btn btn-info" type="submit">Update</Button>
</form>
</div>