@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Add a new  Patron to be checkout</h1>
<form action="/clients" method="post">
<label name="clientName">Create a Client </label>
<input name="clientName" id="clientName" type="text">
 <button class="btn btn-primary" type='submit'>Add new Client</button>
</form>
</div>

<hr>
<a href="/clients" class="btn btn-info">Back to Client</a>