@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>List of all clients  for <a href='/clients'>@Model["client"].GetName()</a></h1>
<ol>
@foreach (var stylist in Model["clientStylists"])
{
  <li><a href='/stylists/@stylist.GetId()'>@stylist.GetStylist()</a>  appointment is : @stylist.GetStylistDueDate()</li>
}
</ol>
</div>
<a href='/clients/@Model["client"].GetId()/checkout' class="btn btn-success">Checkout a stylist</a>
<a href="/clients" class="btn btn-success">Go back to client's list</a>
