@{
  Layout = "_Layout";
}
<br>
  <div class="jumbotron">
    <h4 span="home">Welcome to Seattle's Best Hair Stylist</span></h4>
      <div class="panel panel-body-danger"></div>
  </div>    
<hr>

<div class="background">
  <img src="/img/background.gif"  alt="background">
</div>
<a href='/stylists'><div class="btn btn-info">Checkout our Employees</div></a>
<a href='/stylists/new'><div class="btn btn-warning">We are Hiring</div></a>
