@{
  Layout = "_Layout";
}
<br>
  <div class="jumbotron">
    <h4>Welcome to Seattle's Best Hair Stylist<h4>
      <div class="panel panel-body-danger"></div>
<hr>
<a href='/stylists'><div class="btn btn-info">Checkout our Employees</div></a>
<a href='/'><div class="btn btn-warning">We are Hiring</div></a>
<a href='/'><div class="btn btn-primary">Employee Specialist (resume)</div></a>
