@{
  Layout = "_Layout";
}
<br>
  <div class="jumbotron">
    <h4>Check Your Stylist:</h4>
      <div class="panel panel-body-danger"></div>
<!--  -->
<div class="container">
  <hr>
  <a href="/employees"><div class="btn btn-primary">Checkout our Employees</div></a>
  <a href="/employees/new"><div class="btn btn-warning">We are hiring!</div></a>
  <a href="/specialties"><div class="btn btn-info">Employee Resume (Specialist)</div></a>

</div>
 </div>
