@{
Layout = "_Layout";
}

<div class="w3-container">
  <form action="/stylists" method="post">
    <hr>
    <div class="w3-bar w3-orange"><h3>New Hire</h3></div>
    <hr>
    <div class="form-group">
      <label for="new-stylist">Add a Name</label>
  <input id="new-stylist" name="new-stylist" type="text">
    </div>
    <button type="submit" class="btn btn-warning">Add</button> <br>
  </form>
  <p><a href="/stylists" class="btn btn-info">Back to Employee</a></p>
</div>