
@{
Layout = "_Layout";
}
<div class="container">
<h2>Click to add new Clients: <a href='/stylists/@Model["stylist"].GetId()/clients/new'> @Model["stylist"].GetName() </a> | <a href='/stylists/new'>Add another stylist</a></a>

<ol>
@foreach (var client in @Model["client"])
{
  <li><h3><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetClientId()'>@client.GetClientName()</h3></li>
}
</ol>
<hr>
<br>
<p><a class="btn btn-success" href='/stylists'>View all Stylists</a> 
<a  class= "btn btn-info" href='/clients ' ">View all Clients</a></p>