@{
  Layout = "_Layout";
}
 <div class="container">
<h1>Edit Speacialty</h1>
<hr>
<h2>Edit: @Model.GetTitle()</h2>
<form action="/stylists/@Model.GetId()" method="post">
  <label name="newStylist">New Style</label>
  <input id="newStylist" type="text" name="newStylist" value="@Model.GetTitle()">
  <Button class="btn btn-info" type="submit">Update</Button>
</form>
</div>
