@{
Layout = "_Layout";
}
<div class="container">
<h1>Employee Stylist</h1>
<hr />


    @foreach (var item in Model)
    {
      <li><a href="stylists/@item.GetId()"> @item.GetName()</a></li>

    }



<form action="stylists/delete" method="post">
<a class="btn btn-info"  href="/stylists/new">Add a new Hire</a>
<a class="btn btn-primary" href="/">Go back </a>
<button type="submit" class="btn btn-warning">Delete</button>
</form>
</div>