@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Here are all the available Styles</h1>
<ol>
@foreach (var stylist in Model)
{
    <li><h2><a href="/stylists/@stylist.GetId()">@stylist.GetStylist() </a></h2> <a href="/stylists/@stylist.GetId()/edit" >Edit</a>
    <a href="/stylists/@stylist.GetId()/delete">Delete</li>
}
</ol>
</div>
<a href="/stylists/new" class="btn btn-success">Add new Style</a>
 <a class="btn btn-danger" href="/stylists/deleteall">Delete All Speacialties</a>



