@{
Layout = "_Layout";
}
<div class="container">
<h1>Employee Stylist</h1>
<hr />


    @foreach (var item in Model)
    {
      <li><a href="stylists/@item.GetId()"> @item.GetName()</a></li>

    }



<form action="stylists/delete" method="post">
<div class="btn btn-info"><a href="/stylists/new"></a>Add a new Hire</div>
<div class="btn btn-primary"><a href="/"></a>Go back</div>
<button type="submit" class="btn btn-warning">Delete</button>
</form>
</div>