@{
Layout = "_Layout";
}
<h1>Stylists</h1>
<hr />



    @foreach (var stylist in @Model)
    {
       <ul>
      <li><h4>Click to Add Clients: <a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a> <br><br>  <a  href="/stylists/@stylist.GetId()/specialties">Specialties</a> | <a href="/stylists/@stylist.GetId()/update">Edit</a> | <a method="post" href="/stylists/@stylist.GetId()/delete">Delete</a> </h4></li>
      <br>
        </ul>
}
<form action="stylists/delete" method="post">
<a href="/stylists/new" class="btn btn-success">Add a new stylist.</a>
<button type="submit" class="btn btn-danger">Clear All</button>
</form>
  