@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>The Styles: <a href='/stylists'>@Model["stylist"].GetStylist()</a> is specialized by <a href='/employees/@Model["employee"].GetId()'>@Model["employee"].GetName()</a></h1>
<h3>This clients is schedule:</h3>
<ol>
@foreach (var client in Model["clients"])
{
  <li><a href='/clients/@client.GetId()'>@client.GetName()</li>
}
</ol>
</div>
<a href="/stylists/new" class="btn btn-success">Go back to clients's list</a>
