@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Here are all the available Employee</h1>
<ol>
@foreach (var employee in Model)
{
    <li><h2><a href="/employees/@employee.GetId()">@employee.GetName() </a></h2> <a href="/employees/@employee.GetId()/edit" >Edit</a>
    <a href="/employees/@employee.GetId()/delete">Delete</li>
}
    
</ol>
</div>
<hr>
<a href="/employees/new" class="btn btn-success">Add new Employee</a>
 <a class="btn btn-danger" href="/employees/deleteall">Delete All Employees</a>



