@{
  Layout = "_Layout";
}
<ul>
@foreach (var employee in Model)
{
    <li><a href="/employees/@employee.GetId()"> @employee.GetName()</a></li>
}
  </ul>
  <br>

<a href="/employees/new">Add New Hire</a>
<a href="/specialties/new">Add a Specialty</a>
  <hr>
  <form action="employees/delete" method="post">
  <button type="submit">Delete</button>
  </form>
<br>
