@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>Add a new Employee</h1>
<form action="/employees" method="post">
<label name="employeeName">Name of the Employee </label>
<input name="employeeName" id="employeeName" type="text">
 <button class="btn btn-primary" type='submit'>Add new Employee</button>
</form>
</div>
<hr>
<a href="/employees" class="btn btn-success">Back to Employees</a>