@{
  Layout = "_Layout";
}
<div class = "container">
<form action = "/showemployee" method = "post">
    <label for= "name">Add a new employee:</label>
    <input type = "text" name = "name">
    <button type = "submit">Add a new employee</button>
</form>
</div>
