@{
  Layout = "_Layout";
}
<hr>
<div class="container">
<h1>The employee <a href='/employees'>@Model["employee"].GetName()</a> specializes</h1>
<ol>
@foreach (var stylist in Model["employeeStylists"])
{
  <li><a href='/stylists/@stylist.GetId()'>@stylist.GetStylist()</a></li>
}
</ol>
</div>
<a href="/stylists" class="btn btn-success">Go back to employee's speacialty</a>
