@{
  Layout = "_Layout";
}
<h3>Here are all the Employees in Seattle Best Salon </h3>

<ol>
@foreach (var employee in @Model["employee"])
{
  <li><a href='/employee/@Model["employee"].GetId()/employee/@employee.GetId()'>@employ.GetName()</a></li>
}
</ol>

<p><a href='/'>Return to Main Page</a></p>
